@media screen and (max-width: 768px) {
  .company-title {
    font-size: 100px;
  }
  .company-desc {
    font-size: 52px;
    line-height: 104px;
    color: #5B5A5A;
  }
  .company-img {
    height: 800px;
    background-size: 100% 100%;
  }
}